{% extends 'base.html' %}
{% block title %}
Справки
{% endblock %}
{% block content %}
<h3>{{ message }}</h3>
<h3>{{ name }}</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="Поазать">
</form>
<table>
    <tr align="center">
        <td>Идентификационный номер операции</td>
        <td>Наименование операции</td>
        <td>Содержание недостатка и (или) нарушения, выявленного в ходе контрольных действий</td>
        <td>Должностное лицо, ответственное за выполнение операции</td>
        <td>Должностное лицо, ответственное за выполнение операции</td>
        <td>Сумма недостатка и (или) нарушения, рублей</td>
        <td>Отметка о регистрации</td>
    </tr>

        {% for volit in volits %}

    <tr align="center">
        <td>{{ volit.reestr.operation.code_oper }}</td>
        <td>{{ volit.reestr.operation.name }}</td>
        <td>{{ volit.title }}</td>
        <td>{{ volit.employ_position_act.name }}</td>
        <td>{{ volit.worker.name }}</td>
        <td>{{ volit.amount }}</td>
        <td>{{ volit.register }}</td>

    </tr>

    </table>
   {% endfor %}
{% endblock %}

<!-- certificate_of_violations = models.ForeignKey(Certificate_of_violations, on_delete=models.PROTECT)-->
<!--     reestr = models.ForeignKey(Reestr, on_delete=models.PROTECT)-->
<!--     title= models.TextField(max_length=256)-->
<!--     employ_position_act = models.ForeignKey(Employ_position_act, on_delete=models.PROTECT)-->
<!--     worker = models.ForeignKey(Worker, on_delete=models.PROTECT)-->
<!--     amount = models.FloatField(max_length=256)-->
<!--     register = models.BooleanField(default=False)-->